body {
    background-image: url('../images/background.jpeg');
    background-size: 100%;
}

.center{
  text-align: right;
}

.title {
  font-family: 'Kaushan Script', cursive;
  color: white;
  font-size: 80px;
  text-align: center;
}

.ubuntu {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 30px;
  text-align: center;
}

.yellow{
  color: yellow;
}

.white{
  color: white;
}

.green{
  color: green;
}

.red{
  color: red;
}
